{{!< default}}

<div class="wrap">
    <section class="blog-content">

        <article class="{{post_class}}">
            {{#post}}

            <a class="post-meta" href="{{@blog.url}}">&larr; 返回</a>

            <h1 class="post-title">{{{title}}}</h1>

            <section class="post-content">
                {{#if image}}<img src="{{image}}" alt="文章图片" />{{/if}}
                {{content}}
            </section>

            {{/post}}
        </article>

    </section>
</div>
